@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

:root {
  --Grey: #a3a3a3;
  --LightBlue: #12b3eb;
  --DarkBlue: #5460f9;
  --Black: #000000;
  --White: #ffffff;
  --Mail: #0072c6;
  --Linkedin: #0077b5;
  --Github: #6e5494;
  --Twitter: #55acee;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--White);
  transition: all 0.5s ease;
  overflow-x: hidden;
  cursor:auto;
}

html {
  scroll-behavior: smooth;
  cursor: pointer;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(30deg, var(--LightBlue), var(--DarkBlue) 50%);
  z-index: 9999;
  transition: all 0.4s ease;
}

.loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}



.loader .loader_bar {
  position: relative;
  width: 300px;
  height: 4px;
  background: var(--Grey);
  border-radius: 50px;
}

.loader .loader_bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--White);
  border-radius: 50px;
  animation: fill 4s ease;
}

@keyframes fill {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}



body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, var(--LightBlue), var(--DarkBlue));
}

::selection {
  background: var(--DarkBlue);
  color: var(--White);
}

h1::selection {
  background: hsla(236, 93%, 65%, 0.5);
}



.active-page {
  background: -webkit-linear-gradient(0deg, var(--LightBlue), var(--DarkBlue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease;
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: linear-gradient(90deg, var(--LightBlue), var(--DarkBlue));
  transition: all 0.5s ease;
  height: 2px;
  -webkit-transition-property: right 0.3s ease-out;
  transition-property: right 0.3s ease-out;
 
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}



  .logo {
   
    margin-left: 25px;
    transition: all 0.5s ease;
    background: -webkit-linear-gradient(0deg, var(--LightBlue),  var(--DarkBlue) 50%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 120px;
    
   
    
  }



/* mobile */
@media only screen and (max-width: 1100px) {
  
  /* HOME SECTION STARTS HERE */

  #home {
    height: auto;
    width: 100vw;
    margin-bottom: 100px;
  }


  .desktop-menu {
    display: none;
  }

  nav {
    position: fixed;
    background-color: var(--White);
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    z-index: 1;
  }

  /* toggle-menu */

  
.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.2s;
    position: relative;
    outline: none;
    border: none;
    background: white;
    z-index: 10;
   
}

.hamburger-top,.hamburger-middle, .hamburger-bottom{
    position: absolute;
    top: 0;
    left:0;
    width: 25px;
    height: 3px;
    background-color: #101010;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: rotate(0);
   

}

.hamburger-middle{
    transform: translateY(7px);
    
}

.hamburger-bottom{
     transform: translateY(14px);

}
.open{
    transform: translateY(0px) ;
    transform: rotate(90deg);
}

.open .hamburger-top{
    transform:rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle{
    display: none;
}
.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}


  .overlay {
    position: fixed;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    transform: scaleX(0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
  }

  .overlay.active {
    transform: scaleX(1);
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    width: 0;
    height: 0;
    transform: scaleX(0);
    background-color: var(--White);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    transition: 0.5s ease-in-out;
    z-index: 2;
  }

  .mobile-menu.active {
    transform: scaleX(1);
    width: 40vw;
    height: 60vh;
  }



  .menu-items {
    text-align: left;
    margin-top: 50px;
  }

  .mobile-menu .menu-items li {
    padding: 15px;
    list-style: none;
  }

  .menu-items li a {
    color: var(--Grey);
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
  }

  .menu-items li a:hover {
    background: -webkit-linear-gradient(
      0deg,
      var(--LightBlue),
      var(--DarkBlue)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease;
  }

  .hero {
    animation: 4s ease-out 0s 1 slideInFromTop;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }

  .hero-img {
    margin-top: 140px;
    margin-right: 0px;
  }

  .hero-img lottie-player {
    width: 400px !important;
    height: 400px !important;
  }

  .hero .hero-items {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
  }

  .hero-hello {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .hero-name {
    font-size: 40px;
    background: -webkit-linear-gradient(
      0deg,
      var(--LightBlue),
      var(--DarkBlue)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    line-height: 109.9%;
    margin-bottom: 8px;
    width: 360px;
  }

  .hero-cta {
    display: flex;
    align-items: center;
    color: var(--Grey);
    border: none;
    background: none;
    font-size: 15px;
    cursor: pointer;
    padding: 14px 0px;
    letter-spacing: 1px;
    text-decoration: none;
  }

  .hero-cta i {
    vertical-align: middle;
    margin-left: 10px;
  }

  .hero-cta:hover {
    background: -webkit-linear-gradient(
      0deg,
      var(--LightBlue),
      var(--DarkBlue)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease;
  }

  /* HOME SECTION ENDS HERE */

  /* ABOUT SECTION STARTS HERE */

  #about {
    height: auto;
    width: 100vw;
    margin-bottom: 100px;
  }

  .about-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
  }

  .about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    width: 90vw;
  }

 .about-photo img {
    width: 100%;
    border-radius: 10px;
  }

 .about-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .my-story {
    text-transform: uppercase;
    color: var(--Grey);
    letter-spacing: 2px;
    font-size: 14px;
  }
 .who-am-i {
    background: -webkit-linear-gradient(
      0deg,
      var(--LightBlue),
      var(--DarkBlue) 50%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 30px;
    line-height: 175.5%;
    text-transform: uppercase;
  }

 .about-para p {
    margin-bottom: 20px;
    line-height: 210%;
    color: var(--Black);
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
  }

  /* ABOUT SECTION ENDS HERE */

  /* PORTFOLIO SECTION STARTS HERE */

  #portfolio {
    
    width: 100vw; 
    height:auto;
    margin-bottom: 100px;

   
  }

  .portfolio-header{
    text-align: center;
    margin: 30px 0;
    font-size: 35px;
    font-weight: 600;
  }

  
  .portfolio-container {
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }


   .portfolio-wrapper {
   
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s;
    gap: 50px;
  }

 .webdev {
   
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s;
  }
 .card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

 
 .webdev i {
    font-size: 60px;
  }

 .card-title {
    font-size: 40px;
  }

  .card-view {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    border-radius: 10px;
    padding: 100px 60px;
    width: 18.75rem;
    border: 1px solid var(--LightBlue);
    color: var(--Black);
    transition: all 0.3s;
  }

.card-view:hover {
    background: linear-gradient(90deg, var(--LightBlue), var(--DarkBlue));
    transition: all 0.3s;
  }

 
  .webdev {
    box-shadow: 0px 0px 10px 1px hsla(0, 0%, 15%, 0.5);
  }

  .webdev:hover {
    background: linear-gradient(90deg, var(--LightBlue), var(--DarkBlue));
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
  }

  #resume {
    height: auto;
    
  }

  .resume {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
  }

  .resume-download {
    font-weight: 500;
    font-size: 22px;
  }

  .resume-download-btn {
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    border: 1px solid var(--DarkBlue);
    color: var(--Black);
    margin-bottom: 60px;
    font-size: 14px;
  }

  .resume-download-btn:hover {
    background: linear-gradient(90deg, var(--LightBlue), var(--DarkBlue));
    color: var(--White);
    transition: all 0.3s ease;
  }

  .resume-download-btn i {
    margin-right: 4px;
  }

  .resume .resume-png {
    width: 90%;
  }


  #skills {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
  }

  .skills-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }


  

  .skills-header {
    font-size: 35px;
    font-weight: 600;
  }

  .skills-wrapper {
    margin-top: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .skill {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    /* padding: 30px; */
    height: 100px;
    width: 100px;
    background-color: var(--White);
    border-radius: 100%;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s;
  }
  
  .skill:hover {
    box-shadow: 0px 0px 10px 1px #26262680;
    background: linear-gradient(90deg, var(--LightBlue), var(--DarkBlue));
    transform: scale(1.1);
    transition: all 0.3s;
    color: var(--White);
  }
  
  .skills-logo {
    width: 50px;
    height: 50px;
  }

  .skill img {
    width: 100%;
    height: 100%;
  }

  .skill span {
    font-size: 15px;
    font-weight: 500;
  }


  footer {
    margin-top: 100px;
    background: rgb(224, 224, 224);
    height: auto;
    padding: 30px 0;
  }

   .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    width: 80%;
    height: 100%;
  }

  .line-1 {
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 18px;
    background: -webkit-linear-gradient(
      0deg,
      var(--LightBlue),
      var(--DarkBlue) 50%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }

 .line-2 {
    color: var(--Black);
    font-weight: 400;
    line-height: 220%;
    font-size: 20px;
  }

   .send-an-email {
    text-decoration: none;
    padding: 14px 30px;
    background: var(--White);
    border-radius: 100px;
    font-size: 14px;
    text-transform: capitalize;
  }

   .send-an-email:hover {
    background: linear-gradient(90deg, var(--LightBlue), var(--DarkBlue));
    color: var(--White);
    transition: all 0.3s ease;
  }

  .credit {
    color: rgb(101, 101, 101);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 12px;
    /* margin-bottom: 30px; */
  }

  .linkedin,
  .twitter,

   .github {
    color: var(--Black);
    font-size: 20px;
    margin: 20px;
  }

  .socialbtns ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .socialbtns ul li {
    border: 1px solid var(--Black);
    margin: 10px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .socialbtns a {
    text-decoration: none;
  }

  .socialbtns ul li:hover {
    color: var(--White);
    border: none;
    background: linear-gradient(90deg, var(--LightBlue), var(--DarkBlue));
    transition: all 0.5s ease;
  }
}



/* desktop */
@media only screen and (min-width: 1100px) {

  .mobile-menu {
    display: none;
  }

  #home {
    height: auto;
    /* margin-bottom: 100px; */
  }

  

  .nav {
    animation: fade-in 2s ease-in-out both 4s;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50%;
  }

  .menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 60px;
    
  }

  .menu li {
    display: block;
    padding: 14px 16px;
    margin-left: 20px;
  }

  .menu li a {
    text-decoration: none;
    color: var(--Grey);
    font-weight: 300;
    letter-spacing: 1px;
  }

  .menu li a:hover {
    background: -webkit-linear-gradient(0deg,var(--LightBlue),var(--DarkBlue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease;
  }


  .hero {
    animation: fill 2s ease-in-out both 4s;
    position: relative;
    top: 5%;
    padding: 60px 0px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


@keyframes fade-in{
    from{opacity:0% }
    to{opacity:100%}
}

  .hero .hero-items {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    align-items: flex-start;
    justify-content: center;
  }

  .hero-hello {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }

  .hero-name {
    font-size: 60px;
    background: -webkit-linear-gradient(
      0deg,
      var(--LightBlue),
      var(--DarkBlue) 50%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
    line-height: 109.9%;
  }

  .hero-cta {
    display: flex;
    align-items: center;
    color: var(--Grey);
    border: none;
    background: none;
    font-size: 15px;
    cursor: pointer;
    padding: 14px 0px;
    letter-spacing: 1px;
    text-decoration: none;
  }

  .hero-cta i {
    vertical-align: middle;
    margin-left: 10px;
  }

  .hero-cta:hover {
    background: -webkit-linear-gradient(
      0deg,
      var(--LightBlue),
      var(--DarkBlue)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease;
  }

  .hero-img lottie-player {
    margin-right: 40px;
    width: 400px !important;
    height: 400px !important;
  }

  #about {
     margin-bottom: 100px;
  }

  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0px;
  }

  .about-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 60px;
    height: 100%;
    width: 70vw;
  }

  .about-container .about-photo img {
    width: 300px;
    border-radius: 10px;
  }

  .about-container .about-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .my-story {
    text-transform: uppercase;
    color: var(--Grey);
    letter-spacing: 2px;
    font-size: 14px;
  }

   .who-am-i {
    background: -webkit-linear-gradient(0deg, var(--LightBlue),var(--DarkBlue) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 30px;
    line-height: 175.5%;
    text-transform: uppercase;
  }

   .about-para p {
    margin-bottom: 20px;
    line-height: 200%;
    color: var(--Black);
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
  }

  /* PORTFOLIO SECTION START HERE */

  #portfolio {
         
    margin-bottom: 150px;
  }

  .portfolio-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .portfolio-header{
    text-align: center;
    margin: 30px 0;
    font-size: 35px;
    font-weight: 600;
  }
  .portfolio-wrapper {
 
    display: grid;
    grid-template-columns:repeat(4,23%);
    justify-content: space-between;
    gap: 30px;
    height: auto;
    width: 90%;
    margin-top: 50px;
    
  }


  .webdev {
    /* height: 424px; */
    /* width: 300px; */
    /* background: var(--White); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }


  .card-title {
    font-size: 40px;
  }

   .card-view {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    font-size: 16px;
    padding: 80px 60px;
    border-radius: 10px;
    border: 1px solid var(--LightBlue);
    color: var(--Black);
    transition: all 0.3s;
  }

  .card-view:hover {
    /* background: linear-gradient(90deg, var(--LightBlue), var(--DarkBlue)); */
    color: var(--White);
    transition: all 0.3s;
  }

  .webdev {
    box-shadow: 0px 0px 10px 1px hsla(0, 0%, 15%, 0.5);
  }


  .webdev:hover {
    /* background: linear-gradient(90deg, var(--LightBlue), var(--DarkBlue)); */
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
  }

 

  .resume {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
  }

  .resume-download {
    font-weight: 500;
    font-size: 25px;
  }

  .resume-download-btn {
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    border: 1px solid var(--DarkBlue);
    color: var(--Black);
    margin-bottom: 60px;
  }

  .resume-download-btn:hover {
    background: linear-gradient(90deg, var(--LightBlue), var(--DarkBlue));
    color: var(--White);
    transition: all 0.3s ease;
  }

  .resume-download-btn i {
    margin-right: 4px;
  }

  #skills {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
  }

  .skills-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .skills-header {
    font-size: 35px;
    font-weight: 600;
  }

  .skills-wrapper {
    margin-top: 50px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .skill {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 170px;
    width: 170px;
    background-color: var(--White);
    border-radius: 100%;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s;
  }
  
  .skill:hover {
    box-shadow: 0px 0px 10px 1px #26262680;
    background: linear-gradient(90deg, var(--LightBlue), var(--DarkBlue));
    transform: scale(1.1);
    transition: all 0.3s;
    color: var(--White);
  }


  .skills-logo {
    width: 50px;
    height: 50px;
  }

  .skill img {
    width: 100%;
    height: 100%;
  }

  .skill span {
    font-size: 15px;
    font-weight: 500;
  }



  footer {
    background: rgb(224, 224, 224);
    height: 500px;
  }

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
  }

   .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    height: 100%;
  }

  .line-1 {
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 18px;
    background: -webkit-linear-gradient(
      0deg,
      var(--LightBlue),
      var(--DarkBlue) 50%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }

   .line-2 {
    color: var(--Black);
    font-weight: 400;
    line-height: 250%;
    font-size: 20px;
  }

  .send-an-email {
    text-decoration: none;
    padding: 14px 30px;
    background: var(--White);
    border-radius: 100px;
    font-size: 14px;
    text-transform: capitalize;
  }

  .send-an-email:hover {
    background: linear-gradient(90deg, var(--LightBlue), var(--DarkBlue));
    color: var(--White);
    transition: all 0.3s ease;
  }

   .credit {
    color: rgb(101, 101, 101);
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 12px;
  }

  .linkedin,
  .twitter,
  .behance,
  .dribbble,
  .github,
  .hashnode,
  .medium,
  .instagram,
  .youtube,
  .facebook {
    color: var(--Black);
    font-size: 25px;
    margin: 10px;
  }

  .socialbtns ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .socialbtns ul li {
    border: 1px solid var(--Black);
    margin: 20px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .socialbtns ul li a {
    border-radius: inherit;
  }

  .socialbtns a i {
    text-decoration: none;
  }

  .socialbtns ul li:hover {
    color: white;
    border: none;
    background: linear-gradient(90deg, var(--LightBlue), var(--DarkBlue));
    transition: all 0.5s ease;
  }
}

